html,body{
	font-family: "Lato";
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.header{
	background-image: url('wedding-plan.jpg');
	height:120%;
	width: 100%;
	background-size:cover;
	background-position: center center;
	overflow: hidden;
	position: relative;
}
.header::before{
	content: '';
	height: 100%;
	text-align: center;
	padding-top: 30%;
	padding-left: 5%;
	position: absolute;
	width: 100%;
	background-color: white;
	transform:translateX(-60%) skew(-30deg);
}
.font{
	letter-spacing: 1px;
	color: #0ca5a5;
	font-weight:lighter;
	text-align: center;
	margin-top: 0%;
	padding-top:5%;
	font-size: 200%;
}
.title{
	font-size: 270%;
	letter-spacing: 2px;
	color: #0ca5a5;
	font-weight:lighter;
	padding-left: 10%; 
	text-align: left
}
#title{
	position: relative;
	margin-left: 3%;
	margin-top: 25%;
	float: left;
	font-weight: lighter;
	
}
#own{
	background-color: #0ca5a5; 
	color:white;
	font-size: 120%;
 	margin-left:10%;
 	height:7%; 
	width:35%;
	border:none;
	cursor: pointer;
}
.basicFeatures{
	height: 120%;
	width: 100%;
	background-color: #e6e6e6;
	margin: auto;
}
.feature h3{
	color: #595959;
	letter-spacing: 5%;
	font-size: 145%;
	margin-bottom: 2%;
}
.feature{
	display: inline-block;
	float: left;
	padding-left: 22%;
	padding-top: 43%;
	margin: auto;
	width: 82.7%;
	height: 10%;
	color: #999999;
	font-size:102%;
	clear: both;
}
.feature1{
	text-align:right;
}
#feature5{
	padding-top:0px;
}
#feature8{
	padding-top:0px;
}
.basicFeatureImg{
	float: left;
	display: inline-block;
	height: 110%;
	width: 100%;
}
.advanceFeatures{
	height: 120%;
	width: 100%;
	margin: auto;
}
.advanceFeatureImg{
	float: left;
	display: inline-block;
	margin-top:-20%;
	height: 120%;
	width: 115%;
	padding-left:30px
}
#block1{
	padding-left:3%;
}
#block2{
	padding-left:0px;
}
#block3{
	padding-left:9%;
}
#block4{
	padding-left:4%;
}
.block{
	display: inline-block;
	width: 25%;
	height: 65%;
	padding-left: 8%;
}
#advancefont{
	padding-left:350px;
}
#blockimg{
	margin-top:0px;
	padding-left:7%;
}
.footer{
	height:40%;
	width: 100%;
	margin: auto;
	background-color: #e6e6e6;
}
form{
	padding-top: 2%;
}
input[type=text] {
	width: 32%;
	height: 21%;
	padding: 12px 20px;
	border:2px solid #0ca5a5;
	color:#0ca5a5;
	opacity: 0.5;
	font-size: 120%;
	font-weight: lighter;
	background-color:#e6e6e6;
	margin-left: 3%;
}
input[type=submit]{
	height: 21%;
	width: 17%;
	margin-left: 3%;
	background-color:#0ca5a5; 
	color:white;
	font-size: 120%;
	border:none;
	cursor: pointer;
}
@media only screen and (max-width: 900px) {
	.feature{
		padding-top: 80%;
	}

}
@media only screen and (max-width: 760px) {
	.basicFeatures{
		width:100%;
		height: 330%;
	}
    .block{
	width: 100%;
	margin: auto;
	padding: 0px; 
	height: 30%;
	margin-top: 2%;
	overflow: auto;
	box-sizing:border-box;

	}	
	.block1{
		margin-left:15% ;
	}
	.block2{
		margin-left: 15%;
		margin-top: -10%;
	}
	.feature h3{
		padding-bottom: -10%;
	}
	.feature{
	width: 55%;
	margin: auto;
	text-align: left;
	padding-top: 10%;
	margin-bottom: 7%;
	height: 10%;
	font-size:102%;
	}
	.basicFeatureImg{
	height: 90%;
	width: 50%;
	margin-top: 0%;
	padding-left: 30%;
	}
	.advanceFeatures{
	
	width: 100%;
	height: 380%;
	margin: auto;
	}
	.advanceFeatureImg{
	margin-top:-15%;
	margin-left: -8%;
	height: 110%;
	width: 55%;
	}
	.block4{
		margin-left: 6%;
		margin-top: 0%;
	}
	.footer{
		height: 70%;
	}
	input[type=text] {
	width: 40%;
	height: 15%;
	margin-left: 0px;
	}
	input[type=submit]{
	margin-left: 45%;
	margin-top: 2%;
	width: 20%;
	}
}